.sidebar {
  right: 0;
  top: 0;
  padding-top: 10px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333;
  /* opacity: 0.8; */
  width: 400px;
  height: 100vh;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out;
}

.sidebar h2 {
  font-size: 20px;
  opacity: 1;
}

.sidebar p {
  padding-left: 5%;
  opacity: 1;
  text-align: start;
}

.sidebar .indicator-container {
  width: 350px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto 10px;
}