.right-sidebar {
  right: 0;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333;
  width: 400px;
  height: 100vh;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: right 0.5s ease-in-out;
}

.right-sidebar .indicator-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.right-sidebar .button-row {
  width: 350px;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.right-sidebar .indicator-group-button {
  margin: 2px;
}

.right-sidebar .clicked-button {
  background-color: #838587;
}

.right-sidebar .no-data-message {
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 15px;
}

.indicator-container h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.indicator-container p {
  margin-bottom: 5px;
}

.indicator-container .stat-row {
  display: flex;
  flex-direction: row;
}

.indicator-container .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.stats .stat-label {
  font-weight: bold;
  width: 100%;
  padding-top: 5px;
  margin-bottom: 5px;
}

.stats .stat-value {
  width: 100%;
  font-size: medium;
  padding-bottom: 5px;
}

.stats .stat-year-label {
  font-weight: lighter;
  font-size: x-small;
}